.repo-card {
  border: 2px solid black;
  background-color: #ffffff;

  width: 90%;

  aspect-ratio: 16/9;

  display: flex;
  flex-direction: column;
}

.username-and-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem 1rem;
}

.username-and-delete-container h3 {
  margin: 0;
}

.delete-button {
  background: transparent;
  border: none;
  font-size: 1.25rem;
  line-height: 1;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

/* RepoCard.css */
.calendar-container {
  /* Make the container fill the available horizontal space */
  width: 100%;

  /* The key: Horizontal scrolling if content is too wide */
  overflow-x: auto;

  /* Optional: some padding or margin to look nice */
  padding: 0.5rem;
  box-sizing: border-box;
}
