html {
  scroll-behavior: smooth;
}

header {
  background-color: gray;
  padding: 1em;
  color: white;
}

footer {
  background-color: gray;
  padding: 2em;
  margin-top: 1em;
  text-align: center;
}
