html {
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
}

header {
  background-color: #fafbfc;
  padding: 1em;
}

h1 {
  color: #1f2329;
}

form {
  color: #1f2329;
}

ul {
  color: #1f2329;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: auto;
}

.navbar ul li a {
  color: #1f2329;
}
